// $myHeadingColor : #66fcf1;
// $mySubHeadingColor : #45a29e;
// $mytextColor : #c5c6c7;
// $myDarkColor : #0b0c10;
// $myLightDark : #1f2833;
// $text1 : "roboto";
// $cursive : cursive;
// $mymatchingColor : #01d2d6;

$myHeadingColor: #2f2f2f;
$mySubHeadingColor: #e5e5e5;
$mytextColor: #f2f2f2;
$myDarkColor: #00bfff;
// $myLightDark: #00bfff;
$myLightDark: #2b2b2b;
$mymatchingColor: #e5e5e5;
$text1: "roboto";
$cursive: cursive;
